html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: black;
}
.box_1 {
background: black;
height: auto;
padding: 20px;
display: flex;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-family: "light";
}
